<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="VetStucom Hibernate"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VetStucom Hibernate"/>
<stringAttribute key="org.hibernate.eclipse.launch.CFG_XML_FILE" value="\VetStucom Hibernate\hibernate.cfg.xml"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="CORE"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONNECTION_PROFILE_NAME" value="vetstucom"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS">
<listEntry value="\VetStucom Hibernate\src\model\Expedientes.hbm.xml"/>
<listEntry value="\VetStucom Hibernate\src\model\Usuarios.hbm.xml"/>
</listAttribute>
<stringAttribute key="org.hibernate.eclipse.launch.HIBERNATE_VERSION" value="5.3"/>
<stringAttribute key="org.hibernate.eclipse.launch.PROPERTY_FILE" value="\VetStucom Hibernate\src\hibernate.properties"/>
</launchConfiguration>
